@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,100&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #23262E;
  color: #f5f5f0;
}

div#content {
  font-family: "Poppins", sans-serif;
  max-width: 500px;
  position: relative;
  margin: 0 auto;
  /* padding: 0 10px; */
  background: #3e41c1;
}

img {
  width: 25px;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

nav, .sort {
  padding: 0 10px;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li h3 {
  font-size: 0.9rem;
  white-space: nowrap;
}

label[for="menu-check"] {
  cursor: pointer;
}

input[type="checkbox"],
nav ul li.menu {
  display: none;
}

nav div.menu {
  display: none;
}

input#menu-check:checked ~ .menu {
  display: block;
}

nav div.menu {
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 5px;
  position: absolute;
  top: 50px;
  left: 0;
  margin-left: 10px;
  background: #222;
  max-width: 200px;
  z-index: 9999;
}

nav div.menu ul {
  display: flex;
  flex-direction: column;
}

nav div.menu ul li {
  padding: 5px 8px;
  background: #333;
  margin-bottom: 5px;
  width: 100%;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
}
nav div.menu ul li:last-child {
  margin-bottom: 0;
}
nav div.menu ul li:hover {
  background: #3e41c1;
  transition: all 400ms ease;
}

/* NEXT SECTION 2 */

.sort {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sort .sort-day h2 {
  font-size: 1.3rem;
}
.sort .sort-day h5 {
  font-size: 12px;
  line-height: 0.5;
}

.sort button.add-new-task {
  width: 6rem;
  height: 35px;
  background: #f5f5f0;
  border-radius: 10px;
  border: 1px solid #f5f5f0;
  cursor: pointer;
  font-weight: 400;
  color: #3e41c1;
  white-space: nowrap;
}

.sort button.add-new-task:hover {
  background: transparent;
  border: 1px solid #f5f5f0;
  transition: all 400ms ease;
  color: #f5f5f0;
}

/* NEXT SECTION 3 */

snap-tabs {
  --hue: 328deg;
  --accent: var(--hue) 100% 54%;
  --indicator-size: 2px;

  --space-1: 0.5rem;
  --space-2: 1rem;
  --space-3: 1.5rem;

  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  margin-top: 30px;
  background: #f5f5f0;
  border-radius: 40px 0 0 0;
}

snap-tabs:matches(header, nav, section, article, a) {
  outline-color: hsl(var(--accent));
  outline-offset: (-5px);
}

.scroll-snap-x {
  overflow: auto hidden;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  color: #333;

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }

  @media (hover: none) {
    scrollbar-width: none;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
}

snap-tabs > header {
  --text-color:hsl(var(--hue)5% 40%);
  --active-color:hsl(var(--hue)20% 10%)

  flex-shrink:0;
  min-block-size: fit-content;
  display: flex;
  flex-direction: column;

 
}

snap-tabs > header > nav {
  display: flex;
}

snap-tabs > header a {
  scroll-snap-align: start;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;

  font-size: .8rem;
  color: var(--text-color);
  font-weight: bold;
  text-decoration: none;
  padding: var(--space-2) var(--space-3);
  margin-right: var(--space-1);
}

snap-tabs > header a > img {
  inline-size: 1.5em;
  pointer-events: none;
}

snap-tabs > header a:hover {
  /* background: hsl(var(--accent) / 5%); */
  background: red;
}

snap-tabs > section {
  block-size: 100%;

  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
}

snap-tabs > section > article {
  scroll-snap-align: start;
  overflow-y: auto;
  overscroll-behavior-y: contain;

  padding: var(--space-2) var(--space-3)
}

@media (prefers-reduced-motion: reduced) {
  

  snap-tabs > header a {
    border-block-end: var(--indicator-size) solid hsl(var(--accent) / 0%);
    transition:
      color 700ms ease,
      border-color 500ms ease
  }

  snap-tabs > header a:matches(:target, :active, [active]) {
    color: var(--text-active-color);
    border-block-end-color: hsl(var(--accent));
  }

  snap-tabs .snap-indicator {
    visibility: hidden;
  }
}